img{
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 401px) {

    .alert-info {
        display: none;
    }

    body {
        width: 900px;
        height: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 30% 30% 40%;
        grid-template-areas:
                "h1 nav nav"
                "header-img header-img header-img"
                "header-img header-img header-img"
                "main main sub-section"
                "main main sub-section"
                "footer footer footer";
    }

    h1 {
        grid-area: h1;
        text-align: left;
        padding-left: .6em;
    }

    nav {
        grid-area: nav;

    }

    .nav-links {
        list-style: none;
        display: flex;
        float: right;
        position: relative;

    }

    .nav-links li {
        padding: 1em .5em;
        background-color: white;
    }

    .header-img {
        grid-area: header-img;
        height: 385px;
        width: 890px;
    }

    section {
        margin-bottom: 15em;
    }

    #main {
        grid-area: main;
    }

    .sub-section {
        grid-area: sub-section;
        font-style: italic;
        padding: 0;
    }

    footer {
        grid-area: footer;
    }

    footer {
        display: inline-grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        font-size: medium;
    }

    footer p {
        padding-right: 16em;
    }

    #social-media-links {
        margin-left: auto;
        font-size: 50px;
    }
}

@media screen and (max-width: 400px) {


    body {
        font-family: 'PT Sans', sans-serif;
    }

    .alert-info {
        background: rgb(214 254 254);
        border: grey 2px solid;
        text-align: center;
        padding: 1em;
        margin: 1em auto;
    }

    .alert-info a {
        color: dimgrey;
        text-decoration: none;
        font-size: 1.25em;
    }

    .alert-info a:visited {
        color: dimgrey;
        text-decoration: none;
    }

    h1 {
        text-align: center;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        text-align: center;
        background: rgb(204 204 204);
        margin: .5em auto;
        padding: .75em;
    }

    .header-img {

        height: 100%;
        /*margin: 0 0 10px 0;*/
    }


    #main {
        margin: 0;
    }

    section.sub-section {
        font-style: italic;
        font-size: .85em;
        margin: 0;
    }

    footer p {
        font-size: .35em;
        position: relative;
        top: 40px;
    }

    #social-media-links {
        float: right;
    }

    .fb {
        float: left;
        display: block;
        /*width: 100%;*/
    }
}



